{% extends 'app/base.html' %} {% load static %} {% block title %}Buy Now
{% endblock title %} {% block main-content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-sm-6">
      <h4>Order Summary</h4>
      <hr />
      {% for item in cart_items %} 
      <div class="card mb-2">
        <div class="card-body">
          <!-- <p p_id="{{item.product.id}}" value="{{item.product.id}}" class="d-none prod_id"></p> -->
          <h5>Product: {{item.product.title}}</h5>
          <p class="d-none">Product ID: {{item.product.id}}</p>
          <p name="quantity" id="item.id" value="item.id">Quantity: {{item.quantity}}</p>
          <p class="fw-bold">Price: ${{item.total_cost}}</p>
          <p class="fw-bold" name="stock" id="item.id" value="item.id">Price: {{item.product.stock}}</p>
          <!-- <p id=""></p> -->
        </div>
      </div>
      {% endfor %}
      <p class="fw-bold">Total Cost Including Shipping Charge($10) = ${{totalamount}} </p>
      <small
        >Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Mollitia, ullam saepe! Iure optio repellat dolor velit, minus rem.
        Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil
        in et quis?</small
      >
    </div>
    <div class="col-sm-4 offset-sm-1">
      <h4>Select Shipping Address</h4>
      <hr />
      <form action="/paymentdone" id="myform">
        {% for address in add %} 
        <div class="card">
          <div class="card-body">
            <h5>{{address.name}}</h5>
            <p>{{address.locality}}.{{address.city}}, {{address.state}}-{{address.zipcode}}</p>
          </div>
        </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}}" value="{{address.id}}" />
          <!-- <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}}" value="{{address.id}}" /> -->
          <label class="form-check-label fw-bold" for=""> Address: {{forloop.counter}} </label>
        </div>
        {% endfor %}
        <div class="text-end">
          <!-- <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">
            Continue
          </button> -->

          <!-- Set up a container element for the button -->
          <div id="paypal-button-container"></div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}
{% block payment-gateway %} 
<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=AVSTpBRHIG62nMYN8DvRNwDAyJ911gb2QG31HJNbyxedwK8YW2Ui65NCxqBaUNuI5CqNAcBCxTvxKX18&currency=USD"></script>

<script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '{{totalamount}}'
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Show a success message to the buyer
                alert('Transaction completed by ' + details.payer.name.given_name + '!');
                document.getElementById("myform").submit(); 
                // this submits the form and data is saved in database in OrderPlaced table
            });
        }


    }).render('#paypal-button-container');
</script>
{% endblock payment-gateway %}

